*
!*/
node_modules/

!.gitignore
!compose.yml
!Dockerfile
!dashboard/
!scraper/
!api/
!website/

!static/*.example.*
!.python-version
!pyproject.toml
!README.md
!*.lock
!*.py

!*.astro
!astro.config.mjs
!package.json
!tsconfig.json

**/__pycache__/**
